
<table class="admin">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Url</th>
    <th></th>
  </tr>

<% @salons.each do |salon| %>
  <tr>
    <td><%= salon.name %></td>
    <td><%= salon.address %></td>
    <td><%= salon.city %></td>
    <td><%= salon.state %></td>
    <td><%= salon.zip %></td>
    <td><%= salon.phone %></td>
    <td><%= salon.url %></td>
    <td>
      <%= link_to 'Show', admin_salon_path(salon) %>
      <%= link_to 'Edit', edit_admin_salon_path(salon) %>
      <%= link_to 'Destroy', admin_salon_path(salon), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Salon', new_admin_salon_path, :method => "get" %>
