
<table class="admin">
  <tr>
    <th>Manufacturer</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%= line.manufacturer.name %></td>
    <td><%= line.name %></td>
    <td><%= line.description %></td>
    <td>
      <%= link_to 'Show', admin_line_path(line) %>
      <%= link_to 'Edit', edit_admin_line_path(line) %>
      <%= link_to 'Destroy', admin_line_path(line), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Line', new_admin_line_path, :method => "get" %>
