Manage:
<ul>
  <li><%= link_to "#{Product.count} products", admin_products_path %></li>
  <li><%= link_to "#{Category.count} categories", admin_categories_path %></li>
  <li><%= link_to "#{Line.count} product lines", admin_lines_path %></li>
  <li><%= link_to "#{User.count} users", admin_users_path %></li>
  <li><%= link_to "#{Salon.count} salons", admin_salons_path %></li>
</ul>