
<table class="admin">
  <tr>
    <th>Manufacturer</th>
    <th>Category</th>
    <th>Name</th>
    <th>Size</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.manufacturer.name %></td>
    <td><%= link_to product.category.name, admin_category_path(product.category_id) %></td>
    <td><%= product.name %></td>
    <td><%= product.size %></td>
    <td><%= number_to_currency(product.price) %></td>
    <td>
      <%= link_to 'Show', admin_product_path(product) %>
      <%= link_to 'Edit', edit_admin_product_path(product) %>
      <%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @products %>

<%= button_to 'New Product', new_admin_product_path, :method => "get" %>
