<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 oldie no-js"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Socalsd!</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"></script>
  <script src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"></script>
  <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script>
  <script src="http://remy.github.com/twitterlib/twitterlib.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- %= render "shared/fb_root" % -->
  <!-- %= render "shared/sliding_panel" % -->
  <%= render "shared/login_panel" %>
  <div id="page_wrapper">
    <%= render "shared/header" %>
    <%= render "shared/page_header" %>
    <section id="content">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <%= render "shared/footer" %>
  </div> <!-- end #page_wrapper>
</body>

</html>
